{% extends 'base/base.html' %}

{% block content %}
    <h2 class="text-center" >Nombre: {{ evento.nombre }}</h2>
    <a class="btn btn-default" href="{% url 'evento:homeEvento' %}">Regresar</a>
    <a class="btn btn-default" href="{% url 'evento:evento_update' evento.pk %}">Modificar</a>
    <a class="btn btn-default" href="{% url 'evento:evento_delete' evento.pk %}">Eliminar</a>    
    <hr />
    
    <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Código :</label>
          <div class="col-sm-10">
            <label class="form-control">{{ evento.codigo }}
          </div>
          <label class="col-sm-2 col-form-label">Tipo :</label>
          <div class="col-sm-10">
            <label class="form-control">{{ evento.tipo }}
          </div>
          <label class="col-sm-2 col-form-label">Duración :</label>
          <div class="col-sm-10">
            <label class="form-control">{{ evento.duracion }}
          </div>
          <label class="col-sm-2 col-form-label">Descripción :</label>
          <div class="col-sm-10">
            <label class="form-control">{{ evento.descripcion }}  
          </div>        
    <div class="col-sm-10">   
        <a href="{% url 'evento:homeEvento' %}" class="btn btn-danger">Regresar</a>
    </div> 
{% endblock  %}