{% extends 'base/base.html' %}

{% block content %}
    <h2">Nombre: {{ ubicacion.nombre }}</h2>
    <a href="{% url 'ubicacion:home' %}">Regresar</a>
    <a href="{% url 'ubicacion:ubicacion_update' ubicacion.pk %}">Modificar</a>
    <a href="{% url 'ubicacion:ubicacion_delete' ubicacion.pk %}">Eliminar</a>
    <hr />

    <p>Código: {{ ubicacion.codigo }}</p>
    <p>Sector: {{ ubicacion.zona }}</p>
    <p>Capacidad: {{ ubicacion.capacidad }}</p>   
    
    <div class="float-right">
        <a href="{% url 'ubicacion:home' %}" class="btn btn-danger">Regresar</a>
    </div> 
{% endblock  %}