{% extends 'base/base.html' %}

{% block content %}
    <h2>
        {% if not edit %}
            Registrar a un evento
        {% else %}
            Editar un Registro
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="float-right">
            <a href="{% url 'registro:homeRegistro' %}" class="btn btn-danger">Regresar</a>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
{% endblock %}